src/main/resources/wsdl/TGTUK_NETCOOL_HPD_WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:TGTUK_NETCOOL_HPD_WS" xmlns:s0="urn:TGTUK_NETCOOL_HPD_WS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="urn:TGTUK_NETCOOL_HPD_WS">
   <xsd:element name="Incident_SubmitAddWI_Service" type="s0:InputMapping1"/>
   <xsd:complexType name="InputMapping1">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="Action" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Status" nillable="true" type="s0:StatusType"/>
     <xsd:element minOccurs="0" name="Company" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Customer" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Summary" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Notes" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Service" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Impact" nillable="true" type="s0:ImpactType"/>
     <xsd:element minOccurs="0" name="Urgency" nillable="true" type="s0:UrgencyType"/>
     <xsd:element minOccurs="0" name="Incident_Type" nillable="true" type="s0:Incident_TypeType"/>
     <xsd:element minOccurs="0" name="Operational_Categorization_Tier_1" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Operational_Categorization_Tier_2" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Operational_Categorization_Tier_3" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Resolution_Categorization_Tier_1" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Resolution_Categorization_Tier_2" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Resolution_Categorization_Tier_3" type="xsd:string"/>
     <xsd:element minOccurs="0" name="CI_Name" type="xsd:string"/>
     <xsd:element minOccurs="0" name="CI_Type" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Product_Categorization_Tier_3" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Contact_Method" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Contact" type="xsd:string"/>
     <xsd:element minOccurs="0" name="External_Ticket_ID" type="xsd:string"/>
     <xsd:element minOccurs="0" name="ServerSerial" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Alarm_First_Occurence" type="xsd:dateTime"/>
     <xsd:element minOccurs="0" name="Incident_ID" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Work_Info_Summary" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Work_Info_Note" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Work_Info_Type" nillable="true" type="s0:Work_Info_TypeType"/>
     <xsd:element minOccurs="0" name="Locked" nillable="true" type="s0:LockedType"/>
     <xsd:element minOccurs="0" name="Assigned_Group" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Class_ID" nillable="true" type="xsd:int"/>
     <xsd:element minOccurs="0" name="Class_Name" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Alarm_Key" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Alarm_Severity" nillable="true" type="xsd:int"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="StatusType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="New"/>
     <xsd:enumeration value="Assigned"/>
     <xsd:enumeration value="In Progress"/>
     <xsd:enumeration value="Pending"/>
     <xsd:enumeration value="Resolved"/>
     <xsd:enumeration value="Closed"/>
     <xsd:enumeration value="Cancelled"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="ImpactType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="1-Extensive/Widespread"/>
     <xsd:enumeration value="2-Significant/Large"/>
     <xsd:enumeration value="3-Moderate/Limited"/>
     <xsd:enumeration value="4-Minor/Localized"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="UrgencyType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="1-Critical"/>
     <xsd:enumeration value="2-High"/>
     <xsd:enumeration value="3-Medium"/>
     <xsd:enumeration value="4-Low"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Incident_TypeType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="User Service Restoration"/>
     <xsd:enumeration value="User Service Request"/>
     <xsd:enumeration value="Infrastructure Restoration"/>
     <xsd:enumeration value="Infrastructure Event"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Work_Info_TypeType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="----- Customer Inbound -----"/>
     <xsd:enumeration value="Customer Communication"/>
     <xsd:enumeration value="Customer Follow-up"/>
     <xsd:enumeration value="Customer Status Update"/>
     <xsd:enumeration value="----- Customer Outbound -----"/>
     <xsd:enumeration value="Closure Follow Up"/>
     <xsd:enumeration value="Detail Clarification"/>
     <xsd:enumeration value="General Information"/>
     <xsd:enumeration value="Resolution Communications"/>
     <xsd:enumeration value="Satisfaction Survey"/>
     <xsd:enumeration value="Status Update"/>
     <xsd:enumeration value="----- General -----"/>
     <xsd:enumeration value="Incident Task / Action"/>
     <xsd:enumeration value="Problem Script"/>
     <xsd:enumeration value="Working Log"/>
     <xsd:enumeration value="Email System"/>
     <xsd:enumeration value="Paging System"/>
     <xsd:enumeration value="BMC Impact Manager Update"/>
     <xsd:enumeration value="Local Service Desk assignment"/>
     <xsd:enumeration value="Chat"/>
     <xsd:enumeration value="External Outgoing"/>
     <xsd:enumeration value="External Incoming"/>
     <xsd:enumeration value="Priority Update"/>
     <xsd:enumeration value="Status Change"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="LockedType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Yes"/>
     <xsd:enumeration value="No"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="Incident_SubmitAddWI_ServiceResponse" type="s0:OutputMapping1"/>
   <xsd:complexType name="OutputMapping1">
    <xsd:sequence>
     <xsd:element minOccurs="0" name="errorCode" type="xsd:string"/>
     <xsd:element minOccurs="0" name="errorMsg" type="xsd:string"/>
     <xsd:element default="Incident_ID" minOccurs="0" name="Incident_ID" type="xsd:string"/>
     <xsd:element minOccurs="0" name="Priority" nillable="true" type="s0:PriorityType"/>
     <xsd:element minOccurs="0" name="Status" nillable="true" type="s0:StatusType"/>
     <xsd:element minOccurs="0" name="Assigned_Group" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="PriorityType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Critical"/>
     <xsd:enumeration value="High"/>
     <xsd:enumeration value="Medium"/>
     <xsd:enumeration value="Low"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="AuthenticationInfo" type="s0:AuthenticationInfo"/>
   <xsd:complexType name="AuthenticationInfo">
    <xsd:sequence>
     <xsd:element name="userName" type="xsd:string"/>
     <xsd:element name="password" type="xsd:string"/>
     <xsd:element minOccurs="0" name="authentication" type="xsd:string"/>
     <xsd:element minOccurs="0" name="locale" type="xsd:string"/>
     <xsd:element minOccurs="0" name="timeZone" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
  </xsd:schema>
 </wsdl:types>

   <wsdl:message name="Incident_SubmitAddWI_ServiceSoapOut">

      <wsdl:part element="s0:Incident_SubmitAddWI_ServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="Incident_SubmitAddWI_ServiceSoapIn">

      <wsdl:part element="s0:Incident_SubmitAddWI_Service" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="ARAuthenticate">

      <wsdl:part element="s0:AuthenticationInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HPD_IncidentInterface_NETCOOL_WSPortTypePortType">

      <wsdl:operation name="Incident_SubmitAddWI_Service">

         <wsdl:input message="s0:Incident_SubmitAddWI_ServiceSoapIn">

       </wsdl:input>

         <wsdl:output message="s0:Incident_SubmitAddWI_ServiceSoapOut">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HPD_IncidentInterface_NETCOOL_WSPortTypeSoapBinding" type="s0:HPD_IncidentInterface_NETCOOL_WSPortTypePortType">

      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Incident_SubmitAddWI_Service">

         <soap:operation soapAction="urn:TGTUK_NETCOOL_HPD_WS/Incident_SubmitAddWI_Service" style="document"/>

         <wsdl:input>

            <soap:header message="s0:ARAuthenticate" part="parameters" use="literal">

            </soap:header>

            <soap:body use="literal"/>

         </wsdl:input>

         <wsdl:output>

            <soap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TGTUK_NETCOOL_HPD_WSService">

  <wsdl:documentation>
Create an incident ticket and add work info  </wsdl:documentation>

      <wsdl:port binding="s0:HPD_IncidentInterface_NETCOOL_WSPortTypeSoapBinding" name="HPD_IncidentInterface_NETCOOL_WSPortTypeSoap">

         <soap:address location="http://10.92.8.15/arsys/services/ARService?server=10.93.70.73&amp;webService=TGTUK_NETCOOL_HPD_WS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>