src/main/resources/wsdl/UpdateIncidentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.5-b01 . -->
<definitions targetNamespace="http://com.o2.osiris.webservices.remedy" name="UpdateIncidentService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://com.o2.osiris.webservices.remedy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xs:schema version="1.0" targetNamespace="http://com.o2.osiris.webservices.remedy" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="Auth" nillable="true" type="tns:Auth"/>

      <xs:complexType name="UpdateRequestType">
        <xs:sequence>
          <xs:element name="asignee" type="xs:string"/>
          <xs:element name="status" type="tns:StatusType"/>
          <xs:element name="externalID" type="xs:string"/>
          <xs:element name="impact" type="tns:ImpactType"/>
          <xs:element name="incidentID" type="xs:string"/>
          <xs:element name="priority" type="tns:PriorityType"/>
          <xs:element name="serverSerial" type="xs:int"/>
          <xs:element name="suppOrg_grName" type="xs:string"/>
          <xs:element name="urgency" type="tns:UrgencyType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Auth">
        <xs:sequence>
          <xs:element name="username" type="xs:string"/>
          <xs:element name="password" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="UpdateResponseType">
        <xs:sequence>
          <xs:element name="errorCode" type="xs:int"/>
          <xs:element name="errorMsg" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="New"/>
          <xs:enumeration value="Assigned"/>
          <xs:enumeration value="In Progress"/>
          <xs:enumeration value="Pending"/>
          <xs:enumeration value="Resolved"/>
          <xs:enumeration value="Closed"/>
          <xs:enumeration value="Cancelled"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="ImpactType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="1-Extensive/Widespread"/>
          <xs:enumeration value="2-Significant/Large"/>
          <xs:enumeration value="3-Moderate/Limited"/>
          <xs:enumeration value="4-Minor/Localized"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="PriorityType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Critical"/>
          <xs:enumeration value="High"/>
          <xs:enumeration value="Medium"/>
          <xs:enumeration value="Low"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="UrgencyType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="1-Critical"/>
          <xs:enumeration value="2-High"/>
          <xs:enumeration value="3-Medium"/>
          <xs:enumeration value="4-Low"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="updateIncident">
    <part name="UptRequest" type="tns:UpdateRequestType"/>
    <part name="Auth" element="tns:Auth"/>
  </message>
  <message name="updateIncidentResponse">
    <part name="UptResponse" type="tns:UpdateResponseType"/>
  </message>
  <portType name="UpdateIncidentInterface">
    <operation name="updateIncident" parameterOrder="UptRequest Auth">
      <input wsam:Action="http://com.o2.osiris.webservices.remedy/UpdateIncidentInterface/updateIncidentRequest" message="tns:updateIncident"/>
      <output wsam:Action="http://com.o2.osiris.webservices.remedy/UpdateIncidentInterface/updateIncidentResponse" message="tns:updateIncidentResponse"/>
    </operation>
  </portType>
  <binding name="UpdateIncidentPortBinding" type="tns:UpdateIncidentInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="updateIncident">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="UptRequest" namespace="http://com.o2.osiris.webservices.remedy"/>
        <soap:header message="tns:updateIncident" part="Auth" use="literal"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://com.o2.osiris.webservices.remedy"/>
      </output>
    </operation>
  </binding>
  <service name="UpdateIncidentService">
    <port name="UpdateIncidentPort" binding="tns:UpdateIncidentPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

